<!-- templates/car_list.html -->
{% extends 'base.html' %}

{% block content %}
  <h1>All Cars</h1>

  {% if cars %}
    <ul>
      {% for car in cars %}
        <li>
          <strong>Owner:</strong> {{ car.owner.username }}<br>
          <strong>Brand:</strong> {{ car.brand }}<br>
          <strong>Model:</strong> {{ car.model }}<br>
          <strong>Plate Number:</strong> {{ car.plate_number }}
        </li>
        <hr>
      {% endfor %}
    </ul>
  {% else %}
    <p>No cars found.</p>
  {% endif %}

  <div class="mb-3">
  <a href="{% url 'car_search' %}" class="btn btn-outline-secondary">🔍 Search Cars</a>
  <a href="{% url 'car_upload' %}" class="btn btn-outline-success">📁 Upload Cars (CSV)</a>
</div>

{% endblock %}
