{% extends 'base.html' %}

{% block content %}
  <section class="welcome-section">
    <h2>Welcome to the Garage System</h2>
    <p>Manage your cars and appointments efficiently.</p>

    
    {% if user.is_authenticated %}
      {% if user.role == 'client' %}
        <a href="{% url 'car_create' %}" class="btn">Add Your Car</a>
        <a href="{% url 'appointment_create' %}" class="btn">Book an Appointment</a>
      {% elif user.role == 'mechanic' %}
        <div style="margin-top: 30px;">
          <a href="{% url 'my_assigned_appointments' %}" class="btn">View Assigned Appointments</a>
        </div>
      {% endif %}
    {% else %}
      <p>Please <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> to get started.</p>
    {% endif %}

    {% if not user.is_authenticated %}
    <br></br><p2><strong>Τοποθεσία:</strong> Καβάλα, Ελλάδα</p2><br></br>
    <p2><strong>Ώρες λειτουργίας:</strong> Δευτέρα έως Παρασκευή, 08:00 - 16:00</p2><br></br>
    <p2><strong>Τηλέφωνο:</strong> 22510 12345</p2>
    <p2><strong>Email:</strong> info@garageworkshop.gr</p2>
    {% endif %}
  </section>
{% endblock %}
