{% extends 'base.html' %}

{% block content %}
<h1>Τα Ραντεβού Μου</h1>

{% if appointments %}
    <ul>
    {% for appointment in appointments %}
        <li>
            Ημερομηνία: {{ appointment.date }} <br>
            Ώρα: {{ appointment.hour }} <br>
            Όχημα: {{ appointment.car.make }} {{ appointment.car.model }} ({{ appointment.car.serial_number }}) <br>
            Τύπος Υπηρεσίας: {{ appointment.get_service_type_display }} <br>
            Κατάσταση: {{ appointment.get_status_display }} <br>
            Περιγραφή Προβλήματος: {{ appointment.problem_description|default:"-" }}
        </li>
        <hr>
    {% endfor %}
    </ul>
{% else %}
    <p>Δεν υπάρχουν ραντεβού.</p>
{% endif %}
<a href="{% url 'index' %}" class="btn btn-primary mt-3">Back</a>

{% endblock %}
